.call-details {
  margin-top: 20px;
}

.call-details .toast {
  background: lightblue;
}

.call-details strong {
  margin-left: 10px;
}

.call-details p {
  text-align: left;
  font-size: 15px;
}

.call-details .icon {
  transition: 0.6s;
}
.call-details .icon:hover {
  animation: pulse 2000ms;
  --fa-animation-duration: 0.5s;
}

@keyframes pulse {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  15% {
    transform: scaleX(1.25) scaleY(1.25);
  }
  30% {
    transform: scaleX(1) scaleY(1);
  }
  45% {
    transform: scaleX(1.25) scaleY(1.25);
  }
  60% {
    transform: scaleX(1) scaleY(1);
  }
  75% {
    transform: scaleX(1.25) scaleY(1.25);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
